<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Calories tracker</a>

</nav>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
