<div class="card-group mt-2 flex-column">
  <h5>Total calories: {{ getTotal() }}</h5>
  <div class="float-left">
    <button type="submit" class="btn btn-primary" [routerLink]="['edit-meal']">Add new meal</button>
  </div>
</div>


<div class="card-group mt-2 flex-column" *ngFor="let meal of meals">
<div class="col mt-4 mb-4" *ngFor="let meal of meals">
  <div class="card mb-2" >
    <p>{{ meal.category }}</p>
    <p>{{ meal.text}}</p>
    <p>{{ meal.calories}}</p>
  </div>
  <a class="btn btn-secondary" [routerLink]="[meal.id, 'edit-meal']">Edit</a>
  <button class="btn btn-danger" (click)="onRemove(meal.id)" [disabled]="isRemoving">
    <span *ngIf="!isRemoving">
      Delete
    </span>
    <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
        <span class="sr-only">Removing...</span>
      </span>
  </button>
</div>
</div>




