<div class="row mt-2">
  <div class="col">
    <h4>{{ isEdit ? 'Edit meal' : 'Add new meal' }}</h4>

    <form (ngSubmit)="saveMeal()" #m="ngForm">
      <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control" ngModel>
          <option value="">Select category</option>
          <option value="breakfast">Breakfast</option>
          <option value="snack">Snack</option>
          <option value="lunch">Lunch</option>
          <option value="dinner">Dinner</option>
        </select>
      </div>
      <div class="form-group">
        <label for="text">Text</label>
        <textarea name="text" id="text" rows="3" class="form-control" ngModel></textarea>
      </div>
      <div class="form-group">
        <label for="calories">Calories</label>
        <input type="number" name="calories" id="calories" class="form-control" ngModel/>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="isUpLoading">
        <span *ngIf="!isUpLoading">
          {{ isEdit ? 'Edit' : 'Create'}}
        </span>
        <span *ngIf="isUpLoading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </form>
  </div>
</div>
